.logo{
    width: 50px !important;
    margin-left: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.modal-title{
    color: white !important;
}

.btn-registro:hover{
    color: white;
}


        /* MODALES */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.titulo_principal{
    color: white;
}

.select{
    cursor: pointer;
}


.registro-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rgts-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campos-registro{
    border-radius: 5px;
    border: 1px solid #238276;
    outline: none;

}


.btn-registro{
    border: 1px solid #238276;
    transition: all .5s;
    background: rgb(199, 197, 197);
    border-radius: 5px;
}

.btn-registro:hover{
    background: #238276;
}

.modal-header{
    background: #238276;
}

.modal-body{
    background: rgb(202, 202, 202);
    width: auto;
}

.btn-consultar{
    display: none;
}



